/* fonts: Playfair+Display, Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url(../images/bg.jpeg);
	font-family: 'Montserrat', sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-decoration: none;
	line-height: 1.2;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	border: none;
}

button:focus,
textarea:focus,
select:focus {
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none;
}

input:focus {
	outline: none !important;
}

a:active,
a:focus {
	outline: 0;
	outline: none !important;
	border: none;
	-moz-outline-style: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
}
.bottom-arow{
	transition: all 0.3s linear;
}
.bottom-arow.active {
	transform: rotate(180deg);
}
.active{
	display: block !important;
}

/* header start */
/* .header .header-bottom */
.header .header-top__dropdown::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	width: 1px;
	height: 24px;
	background: rgba(102, 102, 102, 0.2);
}
.header .header-bottom .nav-link.active{
	color: rgba(30, 30, 30, 1);
}
/* header end */